{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/login.css' %}" />
    </head>
    <body>
        <header>
            ログイン
        </header><hr>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>   
            <div class="login_button">
                <button type="submit">login</button>
            </div>
        </form>
    </body>
</html>