
body {
    background-color: #ececec;
    overflow: hidden;
    height: 100vh;
}

header {
    font-size: 2.5vh; 
    text-align: center;
    line-height: 8vh;
    height: 8vh;
}

.friends_list {
    background-color: #fff;
    width: 101vw;
    height: 79vh;
    border-top: 0.2vh solid #666;
    border-bottom: 0.2vh solid #666;
    transform: translate(-1.8vw, 0);
    overflow-y: scroll;
}

.name_search {
    border-bottom: 0.2vh solid #999;
    height:5.0vh;
    text-align: center;
}

.search_text {
    height: 2.5vh;
    width: 60vw;
    border: #777 solid 0.35vh;
    border-radius: 1.5vh;
    margin-top: 1.0vh;
    font-size: 2.0vh;
}

.friend {
    border-bottom: 0.2vh solid #999;
    height:9.0vh;
    display: flex;
    color: #000;
    text-decoration: none;
}

.profile_img {
    height: 6.0vh;
    width: 6.0vh;
    border: 0.5vh solid #666666;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.75vh 0 2.0vh 2.0vh;
}

.username {
    height: 8.0vh;
    font-size: 2.5vh;
    margin-left: 2.5vh;
    padding-top: 1.0vh;
}

.newest_log {
    font-size: 1.5vh;
    color: #999;
    text-align: right;
    position: absolute;
    padding-left: 55vw;

}

a {
    text-decoration: none;
    color: #000;
}

.footer-container {
    width: 50%;
    display: flex;
    margin-top: 1.5vh;
    transform: translate(50%, 0);
}

.footer-container__item {
    width: 30vw;
}

.footer-item__icon {
    width: 5vw;
    height: auto;
}

footer {
    text-align: center;  
    font-size: 2.0vh;
}