{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/index.css' %}" />
    </head>
    <body>    
        <div class="buttons">
            <a href="{% url 'login_view' %}">
                <div class="index_button">ログイン</div>
            </a>
            <a href="{% url 'signup_view' %}">
                <div class="index_button">会員登録</div>
            </a>
        </div>
    </body>
</html>