{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/logout.css' %}" />
    </head>
    <body>
        ログアウトしますか？
        <form action="{% url 'logout_view2' %}" method="POST">
            {%csrf_token%}
            <button type="submit">はい</button>
        </form>
        <form action="{% url 'setting' %}">
            {%csrf_token%}
            <button type="submit">いいえ</button>
        </form>
    </body>
</html>