{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/name_change.css' %}" />
    </head>
    <body>
        <header>
            ユーザーネーム変更
        </header><hr>
        <form method="POST">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit">submit</button>
        </form>
    </body>
</html>