{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/signup.css' %}" />
    </head>
    <body>
        <header>
            会員登録
        </header><hr>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
            {{form.as_table}}
            </table>
            <div class="sign_up_button">
                <button type="submit">submit</button>
            </div>
        </form>
    </body>
</html>